@import'../pages/information_products';
@import '../pages/header';
@import '../pages/social-media';
@import '../pages/document_page';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ffffff; 
  color: #000000; 
}

body.dark-mode {
  background-color: #000000; 
  color: #ffffff; 
}

body.dark-mode .head {
  background-color: #222222;
}

body.dark-mode .h1_Product {
  color: #ffffff; 
}

body.dark-mode .head_links a {
  color: #cccccc; 
}

body.dark-mode .white_button_signin {
  border-color: #444444; 
  color: #ffffff;
  background-color: #333333; 
}

body.dark-mode .white_button_signin:hover {
  background-color: #555555; 
}

body.dark-mode .Green_button_signin {
  background-color: #00796b; 
}

body.dark-mode .Green_button_signin:hover {
  background-color: #004d40; 
}

body.dark-mode .icons .darmode {
  background-color: #444444; 
}

body.dark-mode .icons .darmode i {
  color: #ffffff; 
}



.container {
  max-width: 1280px;
  margin: 0 auto;
}

